<figure>
  <img class="video-picture" src="{{record.picture}}">
</figure>
<div class="video-data">
  <div class="video-location">
    <i class="glyphicon glyphicon-map-marker"></i>
    {{record.location}}
  </div>
  <h3 class="video-title">
    {{record.title}}
  </h3>
  <p class="video-description">{{record.description}}</p>
</div>
<div class="video-info">
  <span class="data">19 AGO <b>09:21</b></span>
</div>

{{yield}}
